span.cm-logo-error {
  background-image: url('data:image/gif;base64,R0lGODlhBAAOAJEAAAAAAP////8AAP///yH5BAEAAAMALAAAAAAEAA4AAAIJnI+pyyg+XkwFADs=');
  background-repeat: repeat-x;
  background-position: left bottom;
}

span.cm-logo-string {
  color: #007f00;
}

span.cm-logo-number {
  color: #0000ff;
}

span.cm-logo-operator {
  color: #7f007f;
  font-weight: bold;
}

span.cm-logo-variable {
  color: #007f7f;
  font-style: italic;
}

span.cm-logo-identifier {
  color: #3f3f00;
}

span.cm-logo-comment {
  color: #cc00ff;
  font-style: italic;
}

span.cm-logo-definition {
  color: #3f0000;
  font-weight: bold;
  text-transform: uppercase;
}

span.cm-logo-defn-name {
  color: #3f0000;
  font-weight: bold;
  font-size: 12pt;
  text-decoration: underline;
}

span.cm-logo-defn-arg {
  color: #007f7f;
  font-weight: bold;
  font-size: 12pt;
  text-decoration: underline;
  font-style: italic;
}

